@import "../../../styles/theme.scss";

.location-container {
  max-width: 1200px;
  margin: 70px auto;
  .changer-header {
    letter-spacing: 2px;
    h1 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      font-size: 22px;
    }
  }
  .locationSwiper {
    margin-top: 50px;
    .location-icon {
      width: 70px;
      height: 70px;
      margin-bottom: 10px;
    }
    span {
      font-size: 15px;
    }
    .active {
      color: $point-color;
      font-size: 17px;
    }
    .swiper-button-prev {
      background-color: $point-color;
      height: 30px;
      border-radius: 5px;
      left: -5px;
      &::after {
        display: block;
        font-size: 16px;
        color: white;
      }
    }
    .swiper-button-next {
      background-color: $point-color;
      height: 30px;
      border-radius: 5px;
      right: -5px;
      &::after {
        display: block;
        font-size: 16px;
        color: white;
      }
    }
  }
}
