@import "../../../styles/theme.scss";

.container {
  display: flex;
  max-width: 1920px;
  height: 90px;
  position: relative;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.2);
  .logo-container {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      background-color: transparent;
    }
    span {
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 1px;
      margin-left: 2px;
      &::first-letter {
        color: $point-color;
      }
    }
  }
  .list {
    display: flex;
    width: 40%;
    justify-content: center;
    margin-right: 3%;
    .item {
      margin: 0 2%;
      font-size: 17px;
      .item-text {
        &:hover {
          color: $point-color;
        }
      }
    }
  }
  .search-container {
    position: relative;
    display: flex;
    width: 15%;
    margin-right: 20px;
    .search-input {
      font-size: 14px;
      padding: 5px 0;
      border: none;
      border-bottom: 2px solid $text-color;
      color: $text-color;
      width: 100%;
      background-color: transparent;
      transition: border-color 0.3s ease-in-out;
      &:focus {
        outline: none;
        border-color: $point-color;
        & + .underline {
          transform: scaleX(1);
        }
      }
    }
    .underline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $point-color;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    .searchBtn {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .info-container {
    .default-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        color: $point-color;
      }
    }
    .user {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 5px;
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }
    .first {
      margin-right: 5px;
    }
  }
}
